.h1{
    background-color: red;
    color: white;
    width: 180px;
}

.gifs{
    width: 600px;
}

.p{
    background-color: blue;
    color: white;
    width: 180px;
}

.fondoenojo{
    width: 1900px;
}